<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Quiz</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="app">
        <h1>Python Quiz</h1>
        <h2 id="questions">questions here</h2>
        <div id="ans">
            <button class="bnt">ans 1</button>
            <button class="bnt">ans 2</button>
            <button class="bnt">ans 3</button>
            <button class="bnt">ans 4</button>
        </div>
        <button id="next-bnt">next</button>
    </div>
    <script src="script.js"></script>
</body>
</html>