<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>TODO List</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="todo">
            <h1>TODO List <img src="./images/notepad.png" alt="note"></h1>
            <div class="row">
                <input type="text" id="input-box" placeholder="Enter Task">
                <button onclick="addtask()">ADD</button>
            </div>
            <ul id="list-item">
                <!-- <li class="checked">task 1</li>
                <li>task 2</li>
                <li>task 3</li> -->
            </ul>
        </div>
</body>
<script src="script.js"></script>

</html>