<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Pad</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1><img src="./images/note.png" alt="note">NOTES<button class="clr" onclick="()=>{console.log('hi')}">Clear Data</button></h1>
        <button class="btn" onclick="()=>{alert('hi')}"><img src="./images/create.png" alt="create">Create Note</button>
        <div class="note-container">
            <!-- <p contenteditable="true" class="input-field">
                <img src="/notepad/images/delete.png" alt="delete">
            </p> -->
        </div>
    </div>
<script src="script.js"></script>
</body>
</html>